.card-title .card-folder .card-content .card-type{
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}


input[type=text] {
    max-width: 87%;
    margin-top: 10px;
    margin-bottom: 25px;
}


label {
    font-size: 25px;
}


select {
    margin-top: 10px;
    margin-bottom: 25px;
}

textarea {
    margin-top: 10px;
    margin-bottom: 25px;
}


.button-section {
    margin-top: 25px;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }